$primary-color: #444;
$secondary-color: #738eed;
$show-home-image: true;
$home-image: url(../img/photography-768.jpeg);
$background-opacity: 0.7;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Media query mixins (functions)
@mixin mediaSm {
  // Only applies if 500 pixels or less in width
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  // Only applies if 500 pixels or less in width
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  // Only applies if 500 pixels or less in width
  @media screen and (min-width: 1171px) {
    @content;
  }
}
