// Menu button

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }

  // rotate into 'X' with menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // line 1 - rotate
      &:nth-child(1) {
        // background-color: #ff0000;
        transform: rotate(-315deg) translate(5px, 5px);
      }

      // line 2 - hide
      &:nth-child(2) {
        // background-color: #ff0000;
        opacity: 0;
      }
      // line 3 - rotate
      &:nth-child(3) {
        // background-color: #ff0000;
        transform: rotate(315deg) translate(7px, -6px);
      }
    }
  }
}
