// Widescreens
@include mediaXL {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translated3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate(100%, 0, 0);

    .portrait {
      background: url("../img/portrait-150.jpg");
      width: 150px;
      height: 150px;
    }
  }

  .resume-info {
    grid-template-areas:
      "bio-image"
      "bio"
      "job-1"
      "job-2"
      "job-3";
    grid-template-columns: 1fr;
  }
}

// Smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
}
